<div class="Header">
    <a class="Header-logo" href="/redesign">
        <img class="Header-image" src="/img/logo.png" alt="Joshua Mark Phillippe">
    </a>
    <a class="Header-menuIcon xs-float-right" href>
        <!-- <img src="/img/menu.svg" alt="menu"> -->
        <svg>
            <use xlink:href="#menu"></use>
        </svg>
    </a>
    <div class="Nav sm-inline-block sm-float-right">
        <a class="Nav-link" href="/redesign">work</a>
        <a class="Nav-link" href onclick="openMailer(this);">contact</a>
        <a class="Nav-link" href="http://ice9.tumblr.com/">blog</a>
    </div>
</div>
