// thanks Buzzfeed
// http://solid.buzzfeed.com


// Display
// -------------------------

@include generate-breakpoint-prefixes {
  &overflow-hidden  { overflow: hidden  !important; }
  &overflow-auto    { overflow: auto    !important; }
  &overflow-scroll  { overflow: scroll  !important; }
  &overflow-visible { overflow: visible !important; }

  &hide         { display: none         !important; }
  &inline       { display: inline       !important; }
  &block        { display: block        !important; }
  &inline-block { display: inline-block !important; }

  &float-left  { float: left  !important; }
  &float-right { float: right !important; }
  &float-none  { float: none  !important; }

  &fit         { max-width: 100% !important; }
  &full-height { height: 100%    !important; }
  &width-auto { width: auto      !important; }

}

// Vertical Align
// -------------------------

@include generate-breakpoint-prefixes {
  &align-top     { vertical-align: top     !important; }
  &align-middle  { vertical-align: middle  !important; }
  &align-bottom  { vertical-align: bottom  !important; }
}

// Helpers
// -------------------------

.clearfix:before,
%clearfix:before,
.clearfix:after,
%clearfix:after {
  content: " "   !important;
  display: table !important;
}

.clearfix:after { clear: both !important; }
