---
---
{% include head.html %}
<div class="WorkDetail">
{% include header.html %}

<svg style="display:none;">
    {% include svg-menu.html %}
    {% include svg-chevrons.html %}
</svg>

<a href="{{ page.prevLink }}" class="WorkDetail-prevLink">
    <!-- <img src="../img/chevron-left.svg" alt="previous image"> -->
    <svg>
        <use xlink:href="#chevron-left"></use>
    </svg>
</a>

<div class="WorkDetail-img WorkDetail-img--{{ page.num }}{{ page.name}}" role="img"><span class="WorkDetail-name">{{ page.name }}</span></div>

<a href="{{ page.nextLink }}" class="WorkDetail-nextLink">
    <!-- <img src="../img/chevron-right.svg" alt="next image"> -->
    <svg>
        <use xlink:href="#chevron-right"></use>
    </svg>
</a>

{% include footer.html %}

</div>

<script>
{% include menu.js %}
{% include email.js %}
{% include ga.js %}
</script>

</body>
</html>
